<div class="container mx-auto mt-8 flex-grow">
  <h1 class="text-4xl font-bold my-2">New article</h1>

  <%= render "form", article: @article %>

  <br>

  <div>
    <%= link_to "Back to articles", articles_path, class:"btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline btn-width" %>
  </div>
</div>
