commands:
  install_pg_dependencies:
    command: |
      sudo yum -y remove postgresql
      sudo amazon-linux-extras enable postgresql10
      sudo yum clean metadata
      sudo yum -y install postgresql-devel
  install_nodejs:
    command: |
      curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.5/install.sh | bash
      . ~/.nvm/nvm.sh
      nvm install 14
      nvm use 14
  install_yarn:
    command: |
      . ~/.nvm/nvm.sh
      npm install -g yarn

container_commands:
  01_migrate:
    command: "bundle exec rake db:migrate"
    leader_only: true