<div id="user <%= current_user.id %>">
  <p>
    <strong>ID:</strong>
    <%= current_user.id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= current_user.email %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= current_user.balance %>
  </p>

</div>
