<div class="container mx-auto mt-8 flex-grow">
  <h1 class="text-4xl font-bold my-2">Confirming Transaction</h1>

  <div class="container mx-auto mt-8 flex-grow">
    <div class="mb-4">
      <%= render "form", transaction: @transaction %>
    </div>
    <div>
      <%= link_to "Back to articles", articles_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded btn-width" %>
    </div>
  </div>
</div>